:root {
  --bs-yellow: #e4c662;
  --bs-yellow-darker: #B69E4E;
  --lighter-teal: #84b4b1;
  --bs-white: #fff;
  --bs-light: #f8f9fa;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-light-rgb: 248, 249, 250;
  --bs-black-rgb: 0, 0, 0;
  --bs-white-rgb: 255, 255, 255;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
}
