
.user-page-header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  padding-top: 5rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%, rgba(248, 249, 250, 1) 100%), url(image_path('to-landing-image-bw.jpg'));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.user-page-header h1, .user-page-header .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.user-page-header h2, .user-page-header .h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .user-page-header h1, .user-page-header .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .user-page-header {
    height: 100vh;
    padding: 0;
  }
  .user-page-header h1, .user-page-header .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .user-page-header h2, .user-page-header .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.account-section {
  padding-top: 10rem;
  /** background: transparent; **/
}
.account-section p {
  margin-bottom: 5rem;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}

td, th {
  border: 0px solid #999;
  padding-right: 20px;
  white-space:nowrap;
  width: 100%;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}
