<div class="aa-innercontainer" style="width: 100%; height: 100%; padding: 10px;">
    <a class="aa-button " style="" target="_blank" href="https://analytics.google.com/analytics/web/#/p317917787/reports/reportinghub?params=_u..nav%3Dmaui&collectionId=user">Google Analytics</a>
</div>