<div class="aa-innercontainer" style="width: 100%; height: 100%; padding: 10px;">
    <p>Welcome to the FundMe admin page. All website users and their donations are listed in the sections that you can find from the top menu. Contact me, Gareth, for any support with this site - gareth@gperilli.dev. <a href="mailto:gareth@gperilli.dev" aria-label="aria label text.">gareth@gperilli.dev</a></p>
</div>