<section class="bg-black">
    <footer class="bg-black small text-center text-white-50" style="margin-bottom: 0px;">
        <div class="container px-4 px-lg-5">Copyright &copy; FundMe.org 2022</div>
    </footer>
</section>
